<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Editopia</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navbar -->

    <h1>About Editopia</h1>

    <h3>Credits</h3>
    <ul>
      <!-- PNG -->
      <li>
        "png" icon used on the home page is by nopixel from
        <a
          href="https://thenounproject.com/icon/png-148053/"
          target="_blank"
          rel="noopener"
        >
          Noun Project
        </a>
        CC BY 3.0 .
      </li>
      <!-- JPG -->
      <li>
        "jpg" icon used on the home page is by Adrian Adam from
        <a
          href="https://thenounproject.com/icon/jpg-4292000/"
          target="_blank"
          rel="noopener"
        >
          Noun Project
        </a>
        CC BY 3.0 .
      </li>
      <!-- WEBP -->
      <li>
        "webp" icon used on the home page is by Firza Alamsyah from
        <a
          href="https://thenounproject.com/icon/webp-3912842/"
          target="_blank"
          rel="noopener"
        >
          Noun Project
        </a>
        CC BY 3.0 .
      </li>
      <!-- GRAYSCALE -->
      <li>
        "highlight" icon used on the home page is by The Icon Z from
        <a
          href="https://thenounproject.com/icon/highlight-3325892/"
          target="_blank"
          rel="noopener"
        >
          Noun Project
        </a>
        CC BY 3.0 .
      </li>
      <!-- RESIZE -->
      <li>
        "four arrows" icon used on the home page is by nopixel from
        <a
          href="https://thenounproject.com/icon/four-arrows-1136619/"
          target="_blank"
          rel="noopener"
        >
          Noun Project
        </a>
        CC BY 3.0 .
      </li>
      <!-- WATERMARK -->
      <li>
        "Stamp" icon used on the home page is by Meko from
        <a
          href="https://thenounproject.com/icon/stamp-5418747/"
          target="_blank"
          rel="noopener"
        >
          Noun Project
        </a>
        CC BY 3.0 .
      </li>
      <!-- BLUR -->
      <li>
        "Blur" icon used on the home page is by Glyph Art. from
        <a
          href="https://thenounproject.com/icon/blur-5985166/"
          target="_blank"
          rel="noopener"
        >
          Noun Project
        </a>
        CC BY 3.0 .
      </li>
      <!-- EDGES -->
      <li>
        "EDGE CONNECTION" icon used on the home page is by Gianne G from
        <a
          href="https://thenounproject.com/icon/edge-connection-1600614/"
          target="_blank"
          rel="noopener"
        >
          Noun Project
        </a>
        CC BY 3.0 .
      </li>
      <!-- SHARPEN -->
      <li>
        "File Star" icon used on the home page is by Pixel Bazaar from
        <a
          href="https://thenounproject.com/icon/file-star-5266728/"
          target="_blank"
          rel="noopener"
        >
          Noun Project
        </a>
        CC BY 3.0 .
      </li>
    </ul>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
