<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Editopia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
</head>

<body>
    <!-- Navbar -->
    
    <main>
        <section id="main-section" class="container flex-grow-1">
            <header class="pb-2 mt-4 mb-2 border-bottom">
                <h1>Editopia Documentation</h1>
            </header>
            <h2>Introduction</h2>

            <p class="lead">
                Welcome to the documentation for Editopia, an image manipulation web
                app powered by Flask and OpenCV. This documentation aims to provide
                users and potential contributors with the necessary information to
                understand, utilize, and contribute to the Editopia project.
            </p>

            <!-- <h3>Contents</h3>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                  The current link item
                </a>
                <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                <a href="#" class="list-group-item list-group-item-action">A third link item</a>
                <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
                <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
            </div> -->
            <div id="table-of-contents">
                <h2>Table of Contents</h2>
                <ul>
                    <li><a href="#features">Features</a></li>
                    <li>
                        <a href="#usage">Usage</a>
                        <ul>
                            <li><a href="#u0">Select Operation</a></li>
                            <li><a href="#u1">Upload Image</a></li>
                            <li><a href="#u2">Process Image</a></li>
                            <li><a href="#u3">Save/Download</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#contribution">Contribution Guidelines</a>
                        <ul>
                            <li>
                                <a href="#get-started">Getting Started</a>
                            </li>
                            <li>
                                <a href="#contribute">Contributing</a>
                            </li>
                        </ul>
                    <li><a href="#note">End Note</a></li>
                </ul>
            </div>

            <hr>

            <!-- Features -->
            <section id="features">
                <h3>Features ✨</h3>
                <ul>
                    <li>
                        <strong>Image Manipulation:</strong> Utilize OpenCV's robust
                        features to perform various image manipulation tasks, including
                        resizing, cropping, filtering, and more.
                    </li>
                    <li>
                        <strong>User-Friendly Interface:</strong> Editopia comes with an
                        intuitive web interface that makes it easy for users to upload,
                        edit, and save images without any hassle.
                    </li>
                    <li>
                        <strong>Real-time Preview:</strong> See the changes you make to
                        your images in real-time before saving, ensuring you achieve the
                        desired results.
                    </li>
                    <li>
                        <strong>Download and Share:</strong> Download your edited images
                        directly from the web app or share them on social media platforms.
                    </li>
                </ul>
            </section>

            <hr>

            <!-- Using -->
            <section id="usage">
                <h2>Start Using 💻</h2>
                <h5 id="u0">1. Select an Operation</h5>
                <figure class="rounded p-2">
                    <img src="static/img/home.png" alt="Example diagram" class="border shadow-none rounded" width="900"
                        height="400" />
                    <figcaption class="d-flex font-italic">
                        Select an Operation
                    </figcaption>
                </figure>

                <h5 id="u1">2. Upload an Image</h5>
                <figure class="rounded p-2">
                    <img src="static/img/function.png" alt="Example diagram" class="border shadow-none rounded"
                        width="900" height="400" />
                    <figcaption class="d-flex font-italic">
                        Click the "Upload" button to select an image from your device.
                    </figcaption>
                </figure>

                <h5 id="u2">3. Process the Image</h5>
                <figure class="rounded p-2">
                    <img src="static/img/process.png" alt="Example diagram" class="border shadow-none rounded"
                        width="900" height="400" />
                    <figcaption class="d-flex font-italic">
                        After uploading an image, click the process button to process your
                        image.
                    </figcaption>
                </figure>

                <h5 id="u3">4. Save / Download Image</h5>
                <figure class="rounded p-2">
                    <img src="static/img/save.png" alt="Example diagram" class="border shadow-none rounded" width="900"
                        height="400" />
                    <figcaption class="d-flex font-italic">
                        View and download the edited image from the link given.
                    </figcaption>
                </figure>
                <p></p>
            </section>

            <hr>

            <section id="contribution">
                <h2>Contribution Guidelines 📝</h2>
                <p>We welcome contributions from the community to enhance Editopia. Follow these steps to contribute:
                </p>

                <h4 id="get-started">Setting Up the Project 🧑🏽‍💻</h4>
                <ul>
                    <li>
                        <h5>Fork the Repository</h5>
                        <p>Click the "Fork" button on the GitHub repository to create your own fork.</p>
                    </li>
                    <li>
                        <h5>Clone the Repository</h5>
                        <p>Clone this repository to your local machine using the following command</p>
                        <pre class="text-bg-dark rounded p-2" style="max-width: 30rem;"><code>git clone https://github.com/Shivank19/Editopia.git</code></pre>
                    </li>
                    <li>
                        <h5>Create an environment</h5>
                        <p>Create virtual environment for the project</p>
                        <pre class="text-bg-dark rounded p-2" style="max-width: 20rem;"><code> python -m venv name_of_environment </code></pre>
                    </li>
                    <li>
                        <h5>Activate Environment</h5>
                        <pre class="text-bg-dark rounded p-2" style="max-width: 20rem;"><code>name_of_environment\Scripts\activate</code></pre>
                    </li>
                    <li>
                        <h5>Install Dependencies</h5>
                        <p>Navigate to the project directory and install the required dependencies using</p>
                        <pre class="text-bg-dark rounded p-2" style="max-width: 20rem;"><code>pip install -r requirements.txt</code></pre>
                    </li>
                    <li>
                        <h5>Run the App</h5>
                        <p>Start the Flask development server by running</p>
                        <pre class="text-bg-dark rounded p-2" style="max-width: 20rem;"><code>python main.py</code></pre>
                        <p>The app will be accessible at <a href="http://127.0.0.1:5000" target="_blank" rel="noopener">http://127.0.0.1:5000</a>.</p>
                    </li>
                </ul>

                

                <h4 id="contribute">Contributing 🫱🏼‍🫲🏼 </h4>
                <ul>
                    <li>
                        <h5>Create a New Branch</h5>
                        <p>Create a new branch for your feature or bugfix:</p>
                        <pre class="text-bg-dark rounded p-2" style="max-width: 20rem;"><code>git checkout -b feature/new-feature</code></pre>
                    </li>
                    <li>
                        <h5>Make Changes</h5>
                        <p>Make your changes, commit them, and push to your branch:</p>
                        <pre class="text-bg-dark rounded p-2" style="max-width: 20rem;"><code>git commit -m 'Add new feature'</code></pre>
                        <pre class="text-bg-dark rounded p-2" style="max-width: 20rem;"><code>git push origin feature/new-feature</code></pre>
                    </li>
                    <li>
                        <h5>Create a Pull Request</h5>
                        <p>Submit a pull request from your branch to the main repository. Provide a detailed description of your
                            changes.</p>
                    </li>
                </ul>
            </section>

            <hr>

            <section id="note">
                <h2>End Note 🙏🏼</h2>
                <p>By following this documentation, users can quickly get started with using Editopia, utilize its features, and contribute to its development. We encourage contributions and look forward to adding new features.</p>

                <p>For more information, visit the <a href="https://github.com/Shivank19/Editopia" target="_blank" rel="noopener">Editopia GitHub Repository</a>.</p>

                <p>If you have any questions or need further assistance, feel free to <a href="https://www.linkedin.com/in/shivank-sapra/" target="_blank" rel="noopener">Connect with Me</a>.</p>

                Happy editing!
            </section>
            <hr>
    </main>
    
    <!-- footer -->
    <!-- <footer class="footer w-100 pt-2 border-top bg-light">
        <div id="footer-nav" class="bg-light container">
            <div id="navbar-footer" class="row">
                <div class="col">
                    <dl class="text-center mb-1">
                        <dt class="border-bottom">General Info</dt>
                        <dd><a href="#">Acquire</a></dd>
                        <dd><a href="#">Getting Started</a></dd>
                        <dd><a href="#">Changes Log</a></dd>
                    </dl>
                </div>
                <div class="col">
                    <dl class="text-center mb-1">
                        <dt class="border-bottom">Code</dt>
                        <dd>
                            <a id="scm-link" href="https://github.com/Bernardo-MG/docs-bootstrap-template"
                                class="link-noted">SCM <span class="note">GitHub</span></a>
                        </dd>
                        <dd>
                            <a id="ci-link" href="https://github.com/Bernardo-MG/docs-bootstrap-template/actions"
                                class="link-noted">CI <span class="note">Github Workflow</span></a>
                        </dd>
                        <dd>
                            <a id="issues-link" href="https://github.com/Bernardo-MG/docs-bootstrap-template/issues"
                                class="link-noted">Issues <span class="note">GitHub</span></a>
                        </dd>
                    </dl>
                </div>
                <div class="col">
                    <dl class="text-center mb-1">
                        <dt class="border-bottom">Releases</dt>
                        <dd><a href="#">Maven Central</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div id="footer-info" class="bg-light ps-2 pb-1 w-100">
            <div>
                <span class="fa-regular fa-copyright"></span>2015-2022
                <a id="author-link" href="https://github.com/Bernardo-MG">Bernardo Martínez Garrido</a>
                -
                <a id="license-link" href="http://www.opensource.org/licenses/mit-license.php">MIT License</a>
            </div>
            <div>
                Powered by
                <a href="http://www.w3schools.com/html/html5_intro.asp">HTML5</a> and
                <a href="http://getbootstrap.com/">Bootstrap</a>
            </div>
        </div>
    </footer> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>