<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Editopia</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">

    <link rel="stylesheet" href="../static/css/style.css">
    
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary opacity-75">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="../static/img/logotxt2.png" alt="logo" width="150" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/docs">Documentation</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Tools
              </a>
              <ol class="dropdown-menu">
                <li><a class="dropdown-item" href="/png">Convert to PNG</a></li>
                <li><a class="dropdown-item" href="/jpg">Convert to JPG</a></li>
                <li>
                  <a class="dropdown-item" href="/webp">Convert to Webp</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/grayscale"
                    >Convert to Grayscale</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/compress"
                    >Compress Image</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/watermark"
                    >Add Watermark</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/blur"
                    >Blur Image</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/edge"
                    >Detect Edges</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/sharp"
                    >Sharpen Image</a
                  >
                </li>
              </ol>
            </li>
          </ul>
          </div>
        </div>
      </div>
    </nav>


    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}

    <div class="alert alert-success alert-dismissible fade show opacity-75" role="alert">
      <strong>Success, Your Image has been Processed!</strong> {{ message | safe
      }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
    
    <br>
    <br>
    <br>
    
    <h3 class="text-center" style="font-weight: 700; font-size: 3rem">
      <img
        src="../static/img/logoImg.png"
        alt="logo"
        width="150"
        height="150"
      />
      <br />
      EDITOPIA
      <br />
      <h5 class="text-body-secondary text-center">
        Elevate Your Images: Transform and Enhance with Our Powerful Image
        Manipulation Suite!
      </h5>
    </h3>
    <hr />

    <br />
    
    <!-- Main Body -->
    <div class="text-center container">
      
      <div class="row gy-3">
        <div class="col-md-3 ">
          <div class="card w-100 ">
            <img src="../static/img/cards/png.png" class="card-img-top" alt="png"/>
            <div class="card-body">
              <hr class="opacity-75" />
              <h5 class="card-title">Convert to PNG</h5>
              <p class="card-text">
                Convert to PNG
              </p>
              <a href="/png" class="btn btn-primary">Convert to PNG</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card w-100">
            <img src="../static/img/cards/jpg.png" class="card-img-top" alt="jpg" />
            <div class="card-body">
              <hr class="opacity-75" />
              <h5 class="card-title">Convert to JPG</h5>
              <p class="card-text">
                Convert to JPG
              </p>
              <a href="jpg" class="btn btn-primary">Convert to JPG</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card w-100">
            <img src="../static/img/cards/webp.png" class="card-img-top" alt="webp" />
            <div class="card-body">
              <hr class="opacity-75" />
              <h5 class="card-title">Convert to WebP</h5>
              <p class="card-text">
                Convert image to WebP.
              </p>
              <a href="/webp" class="btn btn-primary">Convert to WebP</a>
            </div>
          </div>
        </div>
        <div class="col-md-3" >
          <div class="card w-100">
            <img src="../static/img/cards/gray.png" class="card-img-top" alt="gray" />
            <div class="card-body">
              <hr class="opacity-75" />
              <h5 class="card-title">Convert to Grayscale</h5>
              <p class="card-text">
                Convert to Grayscale
              </p>
              <a href="/grayscale" class="btn btn-primary">Convert to Grayscale</a>
            </div>
          </div>
        </div>    
      </div>
      
      <br>
      
      <div class="row gy-3">
        <div class="col-md-3">
          <div class="card w-100">
            <img src="../static/img/cards/resize.png" class="card-img-top" alt="resize" />
            <div class="card-body">
              <hr class="opacity-75" />
              <h5 class="card-title">Resize Images</h5>
              <p class="card-text">
                Resize images easily while maintaining quality.
              </p>
              <a href="/resize" class="btn btn-primary">Resize</a>
            </div>
          </div>
        </div>      
        <div class="col-md-3">
          <div class="card">
            <img src="../static/img/cards/watermark.png" class="card-img-top" alt="watermark"/>
            <div class="card-body">
              <hr class="opacity-75" />
              <h5 class="card-title">Watermark</h5>
              <p class="card-text">
                Add watermarks to your images.
              </p>
              <a href="/watermark" class="btn btn-primary">Add Watermark</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card w-100">
            <img src="../static/img/cards/blur.png" class="card-img-top" alt="blur" />
            <div class="card-body">
              <hr class="opacity-75" />
              <h5 class="card-title">Blur</h5>
              <p class="card-text">
                Blur
              </p>
              <a href="/blur" class="btn btn-primary">Blur</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card w-100">
            <img src="../static/img/cards/edge.png" class="card-img-top" alt="edge" />
            <div class="card-body">
              <hr class="opacity-75" />
              <h5 class="card-title">Detect Edges</h5>
              <p class="card-text">
                Detect Edges
              </p>
              <a href="/edge" class="btn btn-primary">Detect Edges</a>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="row gy-3">
        <div class="col-md-3">
          <div class="card w-100">
            <img src="../static/img/cards/sharp.png" class="card-img-top" alt="sharp"/>
            <div class="card-body">
              <hr class="opacity-75" />
              <h5 class="card-title">Sharpen Image</h5>
              <p class="card-text">
                Sharpen Image
              </p>
              <a href="/sharp" class="btn btn-primary">Sharpen Image</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- Main Body -->
    <br>
    <br>

  <!-- Footer -->
  <footer
    class="text-center text-lg-start text-white opacity-75"
    style="background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
           font-size: 15px; 
           border-radius: 50px 50px 0 0";
  >
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between"> </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold h4">Editopia</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Editopia is a Flask-based web application designed to provide users with image manipulation capabilities using OpenCV. 
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold h4">Services</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="/png" class="text-white sLink">Convert to PNG</a>
            </p>
            <p>
              <a href="/grayscale" class="text-white sLink">Convert to Grayscale</a>
            </p>
            <p>
              <a href="/sharp" class="text-white sLink">Sharpen Image</a>
            </p>  
            <p>
              <a href="/watermark" class="text-white sLink">Add Watermark</a>
            </p>
            <p>
              <a href="/" class="text-white sLink">More...</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold h4">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="/" class="text-white sLink">Home</a>
            </p>
            <p>
              <a href="/about" class="text-white sLink">About</a>
            </p>
            <p>
              <a href="/docs" class="text-white sLink">Documentation</a>
            </p>
            <p>
              <a href="https://github.com/Shivank19/Editopia" target="_blank" rel="noopener" class="text-white sLink">Open Source</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold h4">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
                <p>
                  <a href="https://www.linkedin.com/in/shivank-sapra/" aria-label="LinkedIn" target="_blank" rel="noopener" class="text-white me-5 fLink">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a href="https://github.com/Shivank19" aria-label="GitHub" class="text-white me-5 fLink">
                    <i class="fab fa-github"></i>
                  </a>
                </p>
                <p>
                  <a href="mailto:shivank.sapra@gmail.com" aria-label="EMail" class="text-white me-5 fLink">
                    <i class="fas fa-envelope"></i>
                  </a>
                  <a href="https://twitter.com/ShSap19" aria-label="Twitter" class="text-white me-5 fLink">
                    <i class="fab fa-twitter"></i>
                  </a>
                </p>  
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Copyright:
      <a class="text-white" href="https://shivanksapra.netlify.app/" target="_blank" rel="noopener noreferrer" style="text-decoration: none; font-weight: normal;">
        Shivank Sapra
      </a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
